code:not(.language-js, .language-ts, .language-tsx, .language-jsx, .language-html) {
  font-weight: 400;
  font-size: .875em;
  background-color: #f3f4f6;
  padding: 2px 4px;
  border-radius: 0.25rem;
}

html.dark code:not(.language-js, .language-ts, .language-tsx, .language-jsx, .language-html) {
  font-weight: 400;
  font-size: .875em;
  background-color: #4B5563;
  padding: 2px 4px;
  border-radius: 0.25rem;
}

